.jumbotron {
  text-align: center;
  background-color: #78909c;
}

.jumbotron h1 {
  font-weight: bold;
  font-size: 4em;
  color: #212121;
}

.jumbotron p {
  font-style: italic;
  font-weight: 100;
  color: #F5F5F5;
}

body {
  background-color: #78909c;
  font-family: 'Roboto', sans-serif;
}

input[type=number].input-number–noSpinners {
  -moz-appearance: textfield;
}

input[type=number].input-number–noSpinners::-webkit-inner-spin-button,
input[type=number].input-number–noSpinners::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-wrapper .btn {
  margin-bottom: 5px;
}

.input-group-wrapper .input-group {
  margin-bottom: 5px;
}

.left-5 {
  margin-left: 5px;
}

.right-5 {
  margin-right: 5px;
}

.black-background {
  background-color: #000000;
}

.white {
  color: #FFFFFF;
}

.sup {
  vertical-align: super;
  font-size: 0.5em;
}

#errorBox {
  min-height: 1em;
}

.socibtn-steam {
  width: 210px;
  height: 64px;
  border-radius: 10px;
}

.loading-text {
  text-align: center;
}

.spinner img {
  display: block;
  margin: 0 auto;
}

.avatarsm {
  width: 32px;
  height: 32px;
}

.friendContainer {
  padding-top: 2px;
  padding-left: 2px;
  width: 250px;
  display: block;
  font-size: 12px;
  height: 36px;
  background-color: #B0BEC5;
  border-radius: 3px;
  margin: 3px;
  vertical-align: middle;
}

.friendContainer:hover {
  background-color: #0277BD;
}

#userInfoContainer {
  background-color: #212121;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  padding: 10px;
  color: white;
}

#userInfoContainer .col-sm-4 {
  width: auto;
}
