<loading-spinner></loading-spinner>
<div ng-show='!isLoading' class="container-fluid">
  <!-- Logged in user info -->
  <div id="userInfoContainer" class="row">
    <div class="col-sm-4">
      <img ng-src="{{primaryUser.avatarUrl}}">
    </div>
    <div class="col-sm-4">
      <div class="row">
        Signed in as <span ng-bind="primaryUser.name"></span>
      </div>
      <div class="row">
        Steam ID <span ng-bind="currentUserId"></span>
      </div>
    </div>
    <div class="col-sm-4">
      <a href="http://graw.in/steam/assets/libs/steamauth/logout.php" target="_self" class="btn btn-primary" role="button">Sign Out</a>
    </div>
  </div>
  <!-- Graph container -->
  <div id="graphContainer" class="row">
    <friend-graph></friend-graph>
  </div>
  <!-- Friends List -->
  <div id="friendListContainer" class="row">
    <div class="friendContainer col-md-4" ng-repeat="user in userData" ng-click="drawGraph(user.summary.steamid)">
      <img class="avatarsm" ng-src="{{user.summary.avatarmedium}}"> {{user.summary.personaname}}
    </div>
  </div>
</div>
</div>
